#upload-drop {
  width: calc(100% - 40px);
  margin: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed lightgreen;
  .material-icons,
  h1 {
    color: rgb(4, 66, 13);
    font-size: 20px;
  }
}
#agenda-container {
  .mdl-grid {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    &:first-child{
        border-top:2px solid #ccc 
    }
    &:last-child{
        border-bottom:2px solid #ccc 
    }
  }
}
